#      Ignore     #
###################
*.DS_Store
*.pyc
*.png
*.pdf
*~
*.db
*.log
*.png
logs/
var/
tmp/
.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml
.project
.vagrant
.ipynb_checkpoints/
data_api/
databases/

